@import "fonts.css";


.main-background {
    background-color: red;
    background-image: url("/img/20BDF21.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.main-text {
    color:blue;
    
}

.video-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.scary-text {
    color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.scary-stuff {
    color:rgb(255, 255, 255);
    
}

.background-holder {
    background-color: red;
    background-image: url("/img/GoXws-dW4AISYnJ.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}